html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 20fr;
    background-color:  #172030;
}

.header{
    display: flex;
    background-color: #326DC6;
    flex-direction: row;
    align-items: center;
}

.exit-button{
    margin-left: 90%;
}

.back-button{
    margin-left: 10%;
}