@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main{
    width: 100vw;
    height: 100vh;
    /* display: grid;
    grid-template-rows: 1fr 20fr; */
    background-color: #172030;
}

.header{
    display: flex;
    background-color: #326DC6;
    flex-direction: row;
    align-items: center;
}

.under_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    line-height: 10vh;
    margin: 2% 2% 0 2%;
    padding: 0 3%;
    background-color: #1B2B46;
    border-radius: 20px 20px 0 0;
}


.myFiles{
    color:white;
    font-size: 30px;
    font-family: Roboto;
    font-weight: bold;
}

.exit-button{
    
}

.back-button{
    margin-left: 10%;
}