<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
  <title>Главная</title>
</head>

<body>

  <header>
    <a class="logo" href="#">
      <!-- <img src="logo.png" alt=""> -->
      features
    </a>
    <button class="login" onclick="window.location.href = 'http://localhost:3000/%27;'"> Войти</button>
  </header>
  <div class="main">
    <div class="left-con">
      <span class="span1">Редактор</br> для удобной</br> работы с DataSet</span>
      <span class="span2">Мы создали простой редактор </br> датасетов, который для каждого легок</br> в освоении</span>
      <button class="">Попробовать прямо сейчас</button>
    </div>
    <div class="right-con">
      <img src="catalog.png" width="500px"  class="catalog" alt="">
      <img src="points.svg" width="70%" alt="" class="points">
    </div>
  </div>
</body>

</html>